body{
	background-color: gray;
	background-image: url(bg2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 20%;
	padding-right: 20%;
}

header{
	text-align: center;
}

header img{
	width: 100px;
}

nav{
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav a{
	font-size: 10px;
	font-family: arial, sans-serif;
	color: white;
	text-decoration: none;
	transition: 1s text-decoration, 1s color;
	padding-left: 3%;
	padding-right: 3%;
}

nav a:hover{
	text-decoration: underline;
	color: lightyellow;
}

main{
	text-align: center;
}

main h1{
	font-size: 92px;
	font-family: 'Mouse Memoirs', sans-serif;
	color: white;
	text-shadow: 10px 4px 10px rgba(0, 0, 0, 0.75);
	padding-top: 2%;
	padding-bottom: 2%;
}

main p{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-shadow: 5px 2px 5px rgb(0, 0, 0);
}

.reserve{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color:  white;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	text-shadow: none;
}

.reserve:hover{
	text-decoration: underline;
}

.map{
	margin-top: 20px;
	width: 100%;
}

footer{
	font-family: 'Nanum Gothic', Arial, sans-serif;
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	margin-top: 20px;
}

